html, body 
{
	margin: 0px; /* Comentario en CSS*/
	padding: 0px; /* Los margenes son reducidos a 0*/
	overflow: hidden; /*Ocultamos el Scroll de la pagina*/
	font-family: Segoe UI, Century Gothic,Verdana, Arial;
    background: #15202B;
    color: whitesmoke;
}

#mensajebienvenido{
    position: absolute;
    top: 20px;
    right: 100px;
}
#fotousuariologin{
    position: absolute;
    top: 10px;
    right: 20px;
    border-radius: 35px;
    height: 65px;
    width: 65px;
    border: 2px solid #1DA1F2;
}

#contenedorlinks{
    position: absolute;
    top: 10%;
    left: 15%;
    width: 70%;
    padding: 5px;
	margin: 10px;
	border-radius: 5px;
    border: 1px solid #1DA1F2;
    display: flex;
    justify-content: space-evenly;
}

.btnlink{
    position: relative;
    height: 30px;
    width: auto;
    min-width: 160px;
    border-radius: 8px;
    background-color: transparent;
    border: 0px;
    color: white;
}

.btnlink:hover{
    font-size: 15px;
    text-decoration: underline;
}

#contenedorprincipal{
    position: absolute;
    top: 20%;
    left: 15%;
    width: 70%;
    padding: 5px;
	margin: 10px;
	border-radius: 5px;
    border: 1px solid #1DA1F2;
    height: 70%; 
    overflow: auto;
}

.selected{
    background:#1DA1F2;
}

.boton{
    width: 150px;
    height: 25px;
    border-radius: 8px;
    background-color: #1DA1F2;
    border: 0px;
    color: white;
}

.boton:hover{
    background-color: #28709c;
}

.boton:disabled{
    opacity: 0.5;
}

.campotexto{
    width: 300px;
    height: 25px;
    border-radius: 5px;
    margin-right: 100px;
}
.labelcampo{
    font-size: 14px;
    position: absolute;
    top: -20px;
}


#contenedorconfirmarcancelar{
    position: absolute;
    left: 35%;
    bottom: -400px;
}

#btncancelarusuario{
    background-color: #d62047;
}

#btncancelarusuario:hover{
    background-color: #9c2841;
}

#btnguardar{
    background-color: #00ba22;
}

#btnguardar:hover{
    background-color: #007315;
}