html, body 
{
	margin: 0px; /* Comentario en CSS*/
	padding: 0px; /* Los margenes son reducidos a 0*/
	overflow: hidden; /*Ocultamos el Scroll de la pagina*/
	font-family: Segoe UI, Century Gothic,Verdana, Arial;
	background: #15202B;
}

#form_container{
	text-align: center;
}

#login{
	position: relative;
	width: 350px;
	height: 200px;
	margin: 150px auto;
	border: 1px solid #1DA1F2;
	border-top: 20px solid #1DA1F2;
	border-radius: 8px;
	overflow: hidden;
	padding: 20px 10px 10px 10px;
	background: #253341;
}

.cajatexto{
	padding: 5px;
	margin: 10px;
	border-radius: 5px;
	border: 1px solid #1DA1F2;
	width: 300px;
	color: #FFF;
	background: #15202B;
}

#btn_login{
	border-radius: 80px;
	background: #1DA1F2;
	color: #FFF;
	position: relative;
	border: 0px;
	padding: 5px;
	margin: 10px 0 0 0;
	height: 50px;
	width: 50px;
}

#btn_login:hover{
	background: #1A91DA;
	cursor: pointer;
}

#btn_login:active{
	background: #184D71;
}

.login_msg_box{
	position: relative;
	border: 1px solid #CCCCCC;
	padding: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color: #FFFFFF;
	/*text-shadow: 2px 2px 2px #000;*/
	font-weight: bold;
	text-align: center;
}

#actions a {
	font-size: 16px;
	margin: 5px;
	cursor: pointer;
}

#btn_adduser {
	color: #1F8DB1;
}

.error{
	background: #C00000;
}

.success{
	background: #29CC70;
}

.info{
	background: #1F8DB1;
}

.warning{
	background: #FF9900;
}
